<nav class="navbar navbar-expand-lg navbar-light bg-white shadow" id="primary_nav">
  <div class="container">
    <a class="navbar-brand" href="#">
     
     <img src="{{ asset("img/logo.png") }}" class="img-fluid" alt="" />

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path("promoter_discount_code_list") }}">Tableau de bord</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ path("promoter_account") }}">Mon compte</a>
        </li>

          <li class="nav-item">
          <a class="nav-link" href="{{ path("promoter_discount_code_list") }}">Codes promo</a>
        </li>

        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ path("promoter_withdrawals") }}">Retraits</a>
        </li>
      
      
        <li class="nav-item">
          <a class="nav-link" href="{{ frontUrl }}" target="_blank">Boutique</a>
        </li>
      </ul>
      <ul class="d-flex flex-column flex-md-row list-inline align-items-center mb-0">

      <li class="text-success">Solde: {{ app.user.balance |format_currency('TND', {fraction_digit: 3}) }}</li>

      <li class="me-4">
      
      <div class="dropdown">
  <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    {{ app.user.firstName | capitalize }} {{ app.user.lastName }}
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="{{ path("app_promoter_logout") }}">Se déconnecter</a></li>
  </ul>
</div>
      
      
      </li>
      
        
      </ul>
    </div>
  </div>
</nav>