<nav class="navbar navbar-expand-lg navbar-light bg-white shadow" id="primary_nav">
  <div class="container">
    <a class="navbar-brand" href="#">
     
     <img src="{{ asset("img/logo.png") }}" class="img-fluid" alt="" />

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path("discount_code_histories") }}">Tableau de bord</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{ path("promoter_account") }}">Mon compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path("discount_code_histories") }}">Codes promo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ frontUrl }}" target="_blank">Boutique</a>
        </li>
      </ul>
      <ul class="d-flex flex-column flex-md-row list-inline mb-0">

      <li class="me-3">Bonjour {{ app.user.firstName }}</li>

       <li><a href="{{ path("app_promoter_logout") }}">Se déconnecter</a></li>
       
        
      </ul>
    </div>
  </div>
</nav>