{% extends '@!EasyAdmin/layout.html.twig' %}

 {% block content_title %}Commande numéro {{ order.id }}{% endblock %}

{% block main %}

<div class="row mb-4">

<div class="col-md-6">

<h5>Détails</h5>

<ul class="list-group">

<li class="list-group-item"><span class="bold fw-bold">Date :</span> {{ order.createdAt | date("d/m/Y")}} </li>

<li class="list-group-item"><span class="bold fw-bold">Client :</span> {{ order.user | capitalize }} </li>

<li class="list-group-item"><span class="bold fw-bold">Sous total :</span> {{ order.subtotal | format_currency('TND', {fraction_digit: 3}) }} </li> 

<li class="list-group-item"><span class="bold fw-bold">Total :</span> {{ order.total | format_currency('TND', {fraction_digit: 3}) }} </li> 


</ul>

</div>

<div class="col-md-6">

<h5>Livraison & Paiement</h5>

<ul class="list-group">

<li class="list-group-item">

<span class="bold fw-bold">Méthode de livraison :</span> 

<span>{{ order.delivery.name }}</span>

<span class="badge badge-primary ms-1"> {{ order.delivery.price | format_currency('TND', {fraction_digit: 3}) }} </span>

</li>

{% if order.aramexShipement %}

<li class="list-group-item">

<span class="fw-bold">TrackingID :</span>

<span>{{ order.aramexShipement.trackingId }}</span>

</li>


{% endif %}


{% if order.aramexShipement %}

<li class="list-group-item">

<span class="fw-bold">bordereau : </span>

<span><a href="{{ asset("upload/aramex/" ~ order.aramexShipement.attachement ) }}" download>Bordereau livraison</a></span> 

</li>

{% endif %}


<li class="list-group-item"><span class="bold fw-bold">Addresse de livraison :</span> {{ order.user.defaultAddress }}</li>

<li class="list-group-item">Paiement : 

{% if order.payementTransaction %}

{% if order.payementTransaction.data is not empty %}

<span>Par carte bancaire</span>/ Status : {{ order.payementTransaction.data.TransStatus == "00" ? "accordé" : "échoué" }}

{% else %}

<span class="alert alert-danger">Aucune donné envoyée par GPG</span>

{% endif %}

{% else %}

<span>à la livraison</span>

{% endif %}

</li>

</ul>
</div>

<div class="col-md-6 mt-4">

<h5>Réduction</h5>

<ul class="list-group">

<li class="list-group-item"><span class="bold fw-bold">Points de fidélité :</span> {{ order.rewardPointsToConsume}} Points</li>

<li class="list-group-item"><span class="bold fw-bold">Code promo:</span>

{% if order.discountCode %}

<span> {{ order.discountCode.code }} // -{{ order.discountCode.percentage }}% </span>

{% else %}

<span>Aucun</span>

{% endif %}

</li>

</ul>
</div>
</div>

<h5>{{ order.products | length }} Produit(s) commandé(s)</h5>

<table class="table table-bordered">

 <thead>
    <tr>
      <th scope="col">Produit</th>
      <th scope="col">Prix</th>
      <th scope="col">Quantité</th>
    </tr>
  </thead>
  <tbody>
     
     {% for productOrder in order.products %}

     {% set product = productOrder.product %}

    <tr>
      <td>{{ productOrder.product.title }}</td>
      <td>
      {{ product | pricePercentage | format_currency('TND', {fraction_digit: 3}) }}
      </td>
      <td>{{ productOrder.qty }}</td>
    </tr>

    {% endfor %}
   
  </tbody>



</table>

{% endblock %}