{% extends "promoter/layout.html.twig" %}

{% block title %}Historiques{% endblock %}

{% block main %}

	<h1 class="h4 mb-3 fw-bold">Mes codes PROMO</h1>

	{% if discountCodes is not empty  %}

	<table class="table table-bordered stripped table-responsive">
		<thead>
			<tr>
				<th scope="col">Code</th>
				<th scope="col">Valeur</th>
				<th scope="col">Date de validité</th>
				<th scope="col">Actif</th>
                <th scope="col">Commandes</th>
			</tr>
		</thead>
		<tbody>

			{% for code in discountCodes %}

			{% set orderNbr = code.orders | length %}

				<tr>
					<th scope="row">{{ code.code }}</th>
					<td>-{{ code.percentage }}%</td>
					<td>{{ code.expirationDate | date("d/m/Y") }}</td>
					<td>{{ code.isValid ? "Oui" : "Non" }}</td>
                    <td>{{ orderNbr }} {% if orderNbr > 0 %} <a class="btn btn-sm btn-success ms-2" href="{{ path("promoter_discount_code", {id: code.id}) }}">Détails</a> {% endif %}</td>
				</tr>

			{% endfor %}

		</tbody>
	</table>

{% else %}

<div class="text-danger">Vous n'avez aucun code promo pour le moment</div>

{% endif %}
	


{% endblock %}
