{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}

<div class="container vh-100 d-flex flex-column justify-content-center">

<div class="row w-100">

<div class="col-md-6 offset-md-3">

<img src="{{ asset("img/logo.png") }}" class="img-fluid d-block mb-3 mx-auto" alt="" />

<div class="card">

<div class="card-header">

  <h1 class="h3 fw-bold mb-0 text-center">Changer mon mot de passe</h1>

</div>

<div class="card-body">

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary mt-3 d-table mx-auto">Valider</button>
    {{ form_end(requestForm) }}



</div>
</div>
</div>
</div>
</div>


{% endblock %}
