{% extends '@EasyAdmin/page/content.html.twig' %}
{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
{% block page_content %}
<div class="row">
        <div class="col-sm-6">
  {{ render_chart(chart) }}
 </div>
 <div class="col-sm-6">
  {{ render_chart(productByMoney) }}
   </div>
   <div class="row">
   <div class="col">
   {{render_chart(clientWorth)}}
   </div>
   </div>
   </div>
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}